[Desktop Entry]
Type=Application
Exec=conky
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_GB]=conky.desktop
Comment[en_GB]=systemd sucks!
X-GNOME-Autostart-Delay=0